body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/crossword.png);
}

.container-img {
    margin:0 auto;
    padding-left: 0px;
    padding-right: 0px;
    width:162%;
    background: url(/images/mainTile.jpg) no-repeat center center;
    background-size: cover;
    height:350px;
    position: relative;
    left:-130px;
}

a {
  color: #00B7FF;
}

.gallery-panel {
    background-image: linear-gradient(#04519b, #044687 60%, #033769) !important;
}